# Database
DB_HOST=db
DB_PORT=3306
DB_USER=devuser
DB_PASSWORD=devpass
DB_NAME=fbi_wanted

# Redis
REDIS_HOST=cache
REDIS_PORT=6379

# Server
PORT=5000
JWT_SECRET=ByRX/MhVh4idPvwK1h/a4KpzUtitwNwyL02TlfUqVoo=